In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [2]:
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_arff_parser',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_file',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll',
 'textwrap']

In [5]:
data = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'Education': ['Bachelors', 'Masters', 'PhD', 'Bachelors', 'Masters'],
    'City': ['Kolkata', 'Delhi', 'Mumbai', 'Delhi', 'Kolkata'],
    'Age': [23, 35, 45, 33, 28],
    'Salary': [30000, 60000, 80000, 50000, 40000]
})
print(data)

   Gender  Education     City  Age  Salary
0    Male  Bachelors  Kolkata   23   30000
1  Female    Masters    Delhi   35   60000
2  Female        PhD   Mumbai   45   80000
3    Male  Bachelors    Delhi   33   50000
4  Female    Masters  Kolkata   28   40000

Label **Encoding**

In [7]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
data['Gender_Label'] = l.fit_transform(data['Gender'])
print(data[['Gender', 'Gender_Label']])
data.head()

   Gender  Gender_Label
0    Male             1
1  Female             0
2  Female             0
3    Male             1
4  Female             0

   Gender  Education     City  Age  Salary  Gender_Label
0    Male  Bachelors  Kolkata   23   30000             1
1  Female    Masters    Delhi   35   60000             0
2  Female        PhD   Mumbai   45   80000             0
3    Male  Bachelors    Delhi   33   50000             1
4  Female    Masters  Kolkata   28   40000             0

One-Hot-**Encoding**

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output = False)
city_encoded = ohe.fit_transform(data[['City']])
city_df = pd.DataFrame(city_encoded, columns = ohe.get_feature_names_out(['City']))
print(city_df)

   City_Delhi  City_Kolkata  City_Mumbai
0         0.0           1.0          0.0
1         1.0           0.0          0.0
2         0.0           0.0          1.0
3         1.0           0.0          0.0
4         0.0           1.0          0.0

Ordinal **Encoding**

In [10]:
from sklearn.preprocessing import OrdinalEncoder
education_order = ['Bachelors', 'Masters', 'PhD']
oe = OrdinalEncoder(categories = [education_order])
data['Education_Ordinal'] = oe.fit_transform(data[['Education']])
print(data[['Education', 'Education_Ordinal']])

   Education  Education_Ordinal
0  Bachelors                0.0
1    Masters                1.0
2        PhD                2.0
3  Bachelors                0.0
4    Masters                1.0