In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Realistic_Messy_Employee_Dataset_Beginner_Friendly.csv')

In [3]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

ID                      0
Name                  125
Age                    61
Gender                784
Email                  66
Phone_Number           77
City                  596
Department            535
Salary                 55
Joining_Date          111
Experience_Years       64
Performance_Score     668
Manager_ID             69
Work_Location         735
Bonus_Percentage      131
Remote_Onsite        1020
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 6081 non-null   int64
 1   Name               5956 non-null   object
 2   Age                6020 non-null   object
 3   Gender             5297 non-null   object
 4   Email              6015 non-null   object
 5   Phone_Number       6004 non-null   object
 6   City               5485 non-null   object
 7   Department         5546 non-null   object
 8   Salary             6026 non-null   object
 9   Joining_Date       5970 non-null   object
 10  Experience_Years   6017 non-null   float64
 11  Performance_Score  5413 non-null   object
 12  Manager_ID         6012 non-null   float64
 13  Work_Location      5346 non-null   object
 14  Bonus_Percentage   5950 non-null   float64
 15  Remote_Onsite      5061 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 760.3+ KB

In [6]:
df.describe()

                 ID  Experience_Years    Manager_ID  Bonus_Percentage
count   6081.000000       6017.000000   6012.000000       5950.000000
mean   14988.089459         10.671431  11738.533100         16.544874
std     2861.793780          7.647328  11856.387981         16.257714
min    10000.000000         -3.000000  10000.000000        -10.000000
25%    12542.000000          5.000000  10025.000000          7.000000
50%    14975.000000         10.000000  10052.000000         15.000000
75%    17470.000000         16.000000  10078.000000         23.000000
max    19999.000000         50.000000  99999.000000        150.000000

In [7]:
df.shape

(6081, 16)

In [8]:
missing = df.isnull().sum().sort_values(ascending = False)
missing_percent = (missing / len(df)) * 100

pd.DataFrame({
    "Missing_Count": missing,
    "Missing_Percent": missing_percent
})

                   Missing_Count  Missing_Percent
Remote_Onsite               1020        16.773557
Gender                       784        12.892616
Work_Location                735        12.086828
Performance_Score            668        10.985035
City                         596         9.801020
Department                   535         8.797895
Bonus_Percentage             131         2.154251
Name                         125         2.055583
Joining_Date                 111         1.825358
Phone_Number                  77         1.266239
Manager_ID                    69         1.134682
Email                         66         1.085348
Experience_Years              64         1.052458
Age                           61         1.003124
Salary                        55         0.904457
ID                             0         0.000000

In [9]:
df.duplicated().sum()

6

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
df.duplicated().sum()

0

In [12]:
df.dtypes

ID                     int64
Name                  object
Age                   object
Gender                object
Email                 object
Phone_Number          object
City                  object
Department            object
Salary                object
Joining_Date          object
Experience_Years     float64
Performance_Score     object
Manager_ID           float64
Work_Location         object
Bonus_Percentage     float64
Remote_Onsite         object
dtype: object

In [13]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [14]:
df['Name'].isnull().sum()

124

In [15]:
df[df['Name'].isnull()].head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
311,14132,NaN,19,male,uross@gmail.com,6300814371,Hyderabad,NaN,121454,2022-04-06,15.0,Poor,10001.0,Bangalor,1.0,Onsite
324,19605,NaN,44,Unknown,sanchezstephanie@yahoo.com,847-726-5745x8462,Hyderabad,hr,72354,2026-01-22,13.0,Excellent,10036.0,Delhi,4.0,onsite
365,15739,NaN,59,M,chenderson@jimenez-hall.com,(353)695-8399x3630,Delhi,Finance,53286,2021-10-08,18.0,3,10037.0,NaN,16.0,onsite
368,14876,NaN,42,NaN,thomassandra@yahoo.com,679.812.1645,mumbai,Financ,144907,2022-05-08,0.0,Good,10087.0,Bangalor,13.0,Remote
520,15023,NaN,63,Male,garciahector@owens.com,971-471-1592x9071,Mumbai,hr,86552,2017-10-10,19.0,Excellent,10041.0,Delhi,26.0,Remote

In [16]:
## df['column_name'] = df['column_name'].str.strip().str.replace(r'\s+', '', regex = True)

In [17]:
extra_space_names = df[df['Name'].str.startswith(' ') | df['Name'].str.endswith(' ')]

In [18]:
extra_space_names

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
196,17080,Jerry Ellis,37,male,sandracarter@gregory.org,755-653-0679x08707,Chennai,Operations,79245,2022-12-30,2.0,Good,10018.0,Mumbai,20.0,remote
386,11304,Brittany Avery,62,Male,nancy35@torres.com,248-069-6628x264,Hyderabad,sales,69037,2023-05-30,10.0,5,10003.0,NaN,1.0,onsite
402,12983,Kristen Mccormick,39,Female,jason12@gmail.com,658.594.2860,Bangalor,Marketing,4943155,2018-07-26,17.0,5,10056.0,Mmbai,17.0,NaN
430,15095,Vincent Franco,NaN,male,james01@miller-valencia.info,+1-581-351-9496,Mumbai,Finance,105733.3,2017-03-29,3.0,4,10059.0,Mmbai,13.0,Remote
433,14276,Jill Jones,55,Female,arthurallen@barry.com,+1-795-496-4059x322,Bangalore,HR,136017,2020-11-05,9.0,1,10096.0,Hyderabad,29.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5926,12380,Mike Hawkins,twenty,female,jamesarnold@hotmail.com,5526582771,Delhi,hr,81827,2018-05-27,19.0,Excellent,10028.0,Delhi,11.0,Onsite
5980,19651,William Soto,35,Male,hmurphy@patterson-cisneros.com,001-312-760-1682x14507,Hyderabad,IT,149547,2022-09-21,5.0,Excellent,10016.0,Mmbai,10.0,remote
6002,18306,Amanda Rocha,22,Female,igonzalez@hotmail.com,001-390-092-3546x147,Bangalore,Sales,4667817,2017-08-20,9.0,Poor,10057.0,Mumbai,19.0,remote
6026,14886,Rachel Shaw,forty-five,male,lambertandre@vance-mcpherson.biz,(645)117-5591x893,mumbai,sales,NaN,2020-10-27,4.0,1,10014.0,Bangalor,16.0,Remote
6044,13764,Amber Lee,18,NaN,user#domain.com,534.668.7825x656,NaN,IT,122470,2019-08-20,7.0,4,10069.0,Hyderabad,30.0,Hybrid

In [19]:
print('Total names with extra spaces: ', len(extra_space_names))

Total names with extra spaces:  126

In [20]:
import re

def has_special_char(name):
    if pd.isnull(name):
        return False
    return bool(re.search(r'[^a-zA-Z\s]', name))

special_char_names = df[df['Name'].apply(has_special_char)]
special_char_names.head(20)

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
87,16021,Dr. Phillip Austin,20,female,richardjones@gmail.com,368.326.6659x394,Mumbai,Sales,93125,"Oct 27, 2024",15.0,3,10061.0,Hyderabad,30.0,Onsite
132,17459,Scott Bates Jr.,62,Male,fordgerald@yahoo.com,+1-103-135-1436,mumbai,HR,44204,2024-11-26,12.0,1,10016.0,Mmbai,10.0,Remote
177,16971,Mr. Fernando Pena DVM,26,male,caineric@rodriguez.com,001-707-292-9713x59237,Bangalor,HR,62535,2025-07-15,4.0,NaN,88888.0,Hyderabad,19.0,remote
254,12704,Mr. Philip Webb,61,female,hermankyle@santiago-green.org,+1-568-666-0363x473,Mmbai,Operations,129427,2025-12-28,7.0,Good,10033.0,Mumbai,-10.0,Hybrid
275,13053,Perry Villegas Jr.,60,Female,jeremy15@copeland.biz,001-507-697-8881x08694,Hyderabad,Marketing,116321,2023-12-19,6.0,5,10006.0,Mmbai,14.0,Hybrid
290,19378,Mr. Patrick Bennett Jr.,54,NaN,tflynn@underwood.info,(768)352-6971x361,Mumbai,IT,95241,2017-04-26,30.0,1,10047.0,Mmbai,29.0,Remote
292,16585,Mrs. Cindy Maldonado,29,female,camposnicole@yahoo.com,837-199-2031,Hyderabad,Sales,129835,2016-04-03,16.0,Excellent,10040.0,Mumbai,27.0,NaN
320,16871,Dr. Maurice Beasley DDS,-20,NaN,robert70@hughes-ramirez.com,1566126900,Mmbai,hr,98953,2024-08-02,0.0,2,10078.0,Mumbai,28.0,Hybrid
321,17013,Mr. Dwayne Perez,44,Male,sydney59@gmail.com,771.637.4753,NaN,Operations,30340,2024-10-23,20.0,1,10026.0,Mmbai,25.0,Hybrid
411,12235,Dr. James Fisher,18,NaN,brandon73@gutierrez.org,755.948.0608x8724,Delhi,sales,64667.1,2021-07-14,20.0,Poor,10047.0,Mmbai,4.0,onsite
421,17532,Dr. Monica Franklin,33,female,elizabethhancock@lee.com,290-436-3649x7982,Hyderabad,Finance,145212,2020-07-06,12.0,Excellent,10070.0,NaN,3.0,Hybrid
429,11524,Mr. Steven Miller,35,Male,vsmith@hotmail.com,(974)449-9861x6474,Mmbai,Marketing,44592.31,2025-12-13,2.0,NaN,10029.0,NaN,22.0,Remote
465,15460,Mrs. Diana Robinson,48.8,male,annettesmith@yahoo.com,(091)045-6766x531,mumbai,Financ,102509,2024-08-16,12.0,Poor,10018.0,Delhi,6.0,Remote
527,16745,Mr. Evan Byrd,61,Male,philipreyes@gallagher.org,880-377-1079,Mumbai,NaN,120636,2024-01-20,16.0,2,10063.0,Chennai,3.0,Hybrid
550,16769,Mrs. Katrina Pearson,24,M,zharrington@roberts.org,571-272-1937x21713,Chennai,Sales,101580,2023-01-10,25.0,2,10049.0,Delhi,18.0,Onsite
579,12160,Dr. Laurie Nguyen,thirty-two,Female,jarnold@wright-king.biz,(924)322-3135,Bangalor,sales,76833,2016-10-16,12.0,Good,10001.0,Hyderabad,18.0,Remote
645,13145,Walter Flores Jr.,65,female,brian59@rojas.com,(625)865-7933,mumbai,IT,79747.41,2025-01-15,17.0,4,10034.0,Mmbai,1.0,onsite
732,11005,Mrs. Yvonne Chavez,43,M,hcarpenter@osborne-miranda.net,601-053-3229,Mumbai,NaN,61491,2017-08-12,18.0,NaN,10067.0,NaN,128.0,remote
781,15776,Mr. Allen Murray,34,female,udennis@gmail.com,001-321-328-6144x8433,Mmbai,Operations,131883,2017-08-19,13.0,4,88888.0,Chennai,30.0,onsite
809,15900,Dr. Michael Gonzalez,64,M,timothy95@wade-barrera.biz,620-093-8778x019,Mumbai,HR,40239,2020-05-01,17.0,4,10069.0,Delhi,NaN,Hybrid

In [21]:
print('Total names with special characters: ', len(special_char_names))

Total names with special characters:  138

In [22]:
df['Name'] = df['Name'].fillna('Unknown')

In [23]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [24]:
df['Name'].isnull().sum()

0

In [25]:
df['Name'] = df['Name'].astype(str).str.strip()

In [26]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [27]:
df['Name'].replace('Morgan Reyes', 'Morgan #@Reyes')

0          Morgan #@Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [28]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df['Name'] = df['Name'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

In [30]:
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: object

In [31]:
df['Name'] = df['Name'].str.title()

In [32]:
df['Name'].isnull().sum()

0

In [33]:
df['Name'].head(10)

0        Morgan Reyes
1      Brendan Thomas
2     Jeanette Hooper
3       Jesse Stewart
4     William Maxwell
5      Rachel Shelton
6    Antonio Anderson
7      Colin Robinson
8       Sarah Stevens
9      Nichole Garcia
Name: Name, dtype: object

In [34]:
df['Age'].unique()

array(['39', '31', '41', '19', '56', '62', '63', '20', '51', '38', '33',
       '53', '44', '48', '26', '43', '47', '28', '40', '35', '55', '42',
       'forty-five', '54', '64', '29.2', '57', '32', '27', '37', '25',
       '21', '30', '29', '18', 'twenty', '59', '34', '61', '22', '49',
       '58', '24', '65', '46', '200', '60', '36', '50', '27.4', '45', nan,
       '150', '52', '39.5', '23', '33.5', '-20', '34.7', '48.8', '101',
       '-5', 'thirty-two', '-1', '56.3', '38.1', '35.1', '56.6', '60.4',
       '25.4', '22.4', '59.2', '38.3', '34.3', '21.4', '59.0', '52.7',
       '40.1', '64.8', '33.1', '40.2', '54.5', '47.8', '27.8', '22.9',
       '34.2', '21.3', '38.0', '59.9', '18.6', '25.6', '23.0', '41.9',
       '44.1', '64.3', '47.2', '29.1', '24.7', '37.1', '34.1', '25.5',
       '55.3', '33.0', '52.9', '21.8', '56.1', '58.2', '53.0', '56.4'],
      dtype=object)

In [35]:
missing_count = df['Age'].isnull().sum()
print('missing value: ', missing_count)

missing value:  61

In [36]:
df['Age'] = df['Age'].astype(str)

In [37]:
def contains_letters(age_value):
    if age_value.lower() == 'nan':
        return False
    return any(c.isalpha() for c in age_value)

In [38]:
Age_has_letters = df['Age'].apply(contains_letters)

In [39]:
Age_has_letters

0       False
1       False
2       False
3       False
4       False
        ...
6076    False
6077    False
6078    False
6079    False
6080    False
Name: Age, Length: 6075, dtype: bool

In [40]:
non_numeric_ages = df[Age_has_letters]

In [41]:
non_numeric_ages

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
30,10542,Brooke Fritz Md,forty-five,Unknown,hyoung@gmail.com,658-970-2119,Bangalor,Operations,126086,2017-03-31,3.0,4,10079.0,Mmbai,-10.0,NaN
53,10589,Gregory Tanner,twenty,male,ffreeman@hotmail.com,4666519027,Mmbai,Marketing,126761,2025-01-25,7.0,Excellent,10097.0,Bangalore,11.0,Hybrid
256,12974,Catherine Skinner,forty-five,M,escott@yahoo.com,235.266.1142x397,Hyderabad,IT,139977,03/09/2024,NaN,5,10065.0,Bangalore,18.0,Hybrid
294,13724,Leslie Arias,forty-five,F,spencergreg@cruz.com,284.905.5854,Bangalore,Sales,111194,2019-04-13,7.0,Excellent,10084.0,NaN,1.0,remote
356,10799,Katherine Porter,twenty,NaN,orowland@yahoo.com,2718765215,Hyderabad,Operations,55185,2023-06-13,5.0,2,10094.0,Delhi,27.0,Hybrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5756,10739,Regina Park,thirty-two,female,ijackson@robertson.org,+1-349-858-7776,Hyderabad,NaN,73949,2020-02-24,11.0,Good,10038.0,Mumbai,28.0,onsite
5926,12380,Mike Hawkins,twenty,female,jamesarnold@hotmail.com,5526582771,Delhi,hr,81827,2018-05-27,19.0,Excellent,10028.0,Delhi,11.0,Onsite
6020,19974,Lori Pennington,forty-five,Female,scottsherman@hotmail.com,(690)997-7684,Hyderabad,IT,127758,2016-07-04,4.0,4,10090.0,Chennai,2.0,onsite
6026,14886,Rachel Shaw,forty-five,male,lambertandre@vance-mcpherson.biz,(645)117-5591x893,mumbai,sales,NaN,2020-10-27,4.0,1,10014.0,Bangalor,16.0,Remote
6043,16892,Alan Howell,thirty-two,male,ssimmons@thomas.com,(219)476-4625x71737,delhi,Finance,54725,2019-09-25,7.0,Poor,10056.0,NaN,6.0,Hybrid

In [42]:
non_numeric_ages['Age'].value_counts()

Age
forty-five    23
thirty-two    20
twenty        18
Name: count, dtype: int64

In [43]:
df['Age'] = df['Age'].replace(['forty-five', 'twenty', 'thirty-two'], ['45', '20', '32'])

In [44]:
df['Age'] = df['Age'].replace('nan', np.nan)

In [45]:
df['Age'] = pd.to_numeric(df['Age'], errors = 'coerce')

In [46]:
negative_age = df[df['Age'] < 0]

In [47]:
negative_age['Age'].value_counts()

Age
-1.0     21
-20.0    16
-5.0     16
Name: count, dtype: int64

In [48]:
df['Age'] = df['Age'].where(df['Age'] >= 0, np.nan)

In [49]:
df[df['Age'] >= 0]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39.0,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31.0,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41.0,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39.0,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19.0,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24.0,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37.0,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48.0,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18.0,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21.0,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [51]:
df['Age'] = df['Age'].astype(int)

In [52]:
df['Age'].unique()

array([ 39,  31,  41,  19,  56,  62,  63,  20,  51,  38,  33,  53,  44,
        48,  26,  43,  47,  28,  40,  35,  55,  42,  45,  54,  64,  29,
        57,  32,  27,  37,  25,  21,  30,  18,  59,  34,  61,  22,  49,
        58,  24,  65,  46, 200,  60,  36,  50, 150,  52,  23, 101])

In [53]:
df[df['Age'] == 'NaN']

Empty DataFrame
Columns: [ID, Name, Age, Gender, Email, Phone_Number, City, Department, Salary, Joining_Date, Experience_Years, Performance_Score, Manager_ID, Work_Location, Bonus_Percentage, Remote_Onsite]
Index: []

In [54]:
lower_limit = 18
upper_limit = 65

df.loc[(df['Age'] < lower_limit) | (df['Age'] > upper_limit), 'Age'] = np.nan

In [55]:
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)

In [56]:
print(df['Age'].unique)

<bound method Series.unique of 0       39.0
1       31.0
2       41.0
3       39.0
4       19.0
        ...
6076    24.0
6077    37.0
6078    48.0
6079    18.0
6080    21.0
Name: Age, Length: 6075, dtype: float64>

In [57]:
df['Age'] = df['Age'].astype(int)

In [58]:
df['Gender'].unique()

array([nan, 'M', 'Male', 'F', 'Unknown', 'Female', 'female', 'male'],
      dtype=object)

In [59]:
df['Gender'] = df['Gender'].str.lower()

In [60]:
df['Gender'].value_counts()

Gender
male       1546
female     1484
m           770
f           754
unknown     737
Name: count, dtype: int64

In [61]:
df['Gender'] = df['Gender'].replace({
    'm' : 'male',
    'f' : 'female'
})

In [62]:
df['Gender'].unique()

array([nan, 'male', 'female', 'unknown'], dtype=object)

In [63]:
df['Gender'] = df['Gender'].replace('nan', np.nan)

In [64]:
df['Gender'].isnull().sum()

784

In [65]:
df['Gender'].value_counts()

Gender
male       2316
female     2238
unknown     737
Name: count, dtype: int64

In [66]:
df['Gender'] = df['Gender'].fillna('unknown')

In [67]:
df['Gender'].value_counts()

Gender
male       2316
female     2238
unknown    1521
Name: count, dtype: int64

In [68]:
df['Email'].unique()

array(['santanaheidi@simpson.com', 'anthony69@hotmail.com',
       'gutierrezzachary@gmail.com', ..., 'wrose@ortiz-wong.com',
       'cgreen@peters-reyes.info', 'j'], dtype=object)

In [69]:
df['Email'].isnull().sum()

66

In [70]:
df['Email'] = df['Email'].str.strip()

In [71]:
df['Email'] = df['Email'].str.lower()

In [72]:
df[df['Email'].str.contains('@', na = False)]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote

In [73]:
df[df['Email'].str.count('@') == 1]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote

In [74]:
df['Email_Domain'] = df['Email'].str.split('@').str[-1]

In [75]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite,simpson.com
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite,hotmail.com
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote,gmail.com
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote,hotmail.com
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite,abc.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite,gmail.com
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid,yahoo.com
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote,ortiz-wong.com
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote,peters-reyes.info
6080,10656,Leslie Hansen,21,unknown,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,j

In [76]:
df['Email_Domain'].unique

<bound method Series.unique of 0             simpson.com
1             hotmail.com
2               gmail.com
3             hotmail.com
4                 abc.org
              ...
6076            gmail.com
6077            yahoo.com
6078       ortiz-wong.com
6079    peters-reyes.info
6080                    j
Name: Email_Domain, Length: 6075, dtype: object>

In [77]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com          1005
yahoo.com           991
hotmail.com         954
smith.com            32
johnson.com          29
company.com          25
williams.com         21
brown.com            17
test.net             15
outlook.com          14
miller.com           14
                     12
davis.com            12
thompson.com         12
perez.com            11
user#domain.com      11
rodriguez.com        11
garcia.com           10
jones.com             9
white.com             9
Name: count, dtype: int64

In [78]:
df = df.drop(df.index[-1])

In [79]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite,simpson.com
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite,hotmail.com
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote,gmail.com
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote,hotmail.com
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite,abc.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid,schmidt.com
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite,gmail.com
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid,yahoo.com
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote,ortiz-wong.com
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote,peters-reyes.info

In [80]:
df['Email_Domain'] = df['Email_Domain'].str.replace('#', '')

In [81]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com           1005
yahoo.com            991
hotmail.com          954
smith.com             32
johnson.com           29
company.com           25
williams.com          21
brown.com             17
test.net              15
miller.com            14
outlook.com           14
thompson.com          12
                      12
davis.com             12
perez.com             11
rodriguez.com         11
userdomain.com        11
garcia.com            10
user.domain..com       9
lopez.com              9
Name: count, dtype: int64

In [82]:
df['Email_Domain'] = df['Email_Domain'].str.replace('-', '')

In [83]:
## df['Email_Domain'] = df['Email_Domain'].str.replace('.', '')

In [84]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com           1005
yahoo.com            991
hotmail.com          954
smith.com             32
johnson.com           29
company.com           25
williams.com          21
brown.com             17
test.net              15
miller.com            14
outlook.com           14
thompson.com          12
                      12
davis.com             12
perez.com             11
rodriguez.com         11
userdomain.com        11
garcia.com            10
user.domain..com       9
lopez.com              9
Name: count, dtype: int64

In [85]:
df['Email_Domain'] = df['Email_Domain'].replace('user.domain..com', 'userdomain.com')

In [86]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com         1005
yahoo.com          991
hotmail.com        954
smith.com           32
johnson.com         29
company.com         25
williams.com        21
userdomain.com      20
brown.com           17
test.net            15
miller.com          14
outlook.com         14
                    12
davis.com           12
thompson.com        12
perez.com           11
rodriguez.com       11
garcia.com          10
white.com            9
jones.com            9
Name: count, dtype: int64

In [87]:
df['Email_Domain'] = df['Email_Domain'].fillna('unknown.com')

In [88]:
df['Email_Domain'] = df['Email_Domain'].replace({
    'gamil.com' : 'gmail.com',
    'yahooo.com' : 'yahoo.com'
})

In [89]:
df['Email_Domain'] = df['Email_Domain'].replace('nan', np.nan)

In [90]:
counts = df['Email_Domain'].value_counts()

In [91]:
rare_domains = counts[counts < 50].index
df['Domain'] = df['Email_Domain'].replace(rare_domains, 'Other')

In [92]:
df['Domain']

0             Other
1       hotmail.com
2         gmail.com
3       hotmail.com
4             Other
           ...
6075          Other
6076      gmail.com
6077      yahoo.com
6078          Other
6079          Other
Name: Domain, Length: 6074, dtype: object

In [93]:
df['Domain'].unique()

array(['Other', 'hotmail.com', 'gmail.com', 'unknown.com', 'yahoo.com'],
      dtype=object)

In [94]:
free_domains = ['gmail.com', 'yahoo.com', 'hotmail.com']
df['Email_Type'] = df['Email_Domain'].apply(lambda x : 'personal' if x in free_domains else 'corporate')

In [95]:
corporate_users = df[df['Email_Type'] == 'corporate']

In [96]:
corporate_users

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite,simpson.com,Other,corporate
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite,abc.org,Other,corporate
5,19314,Rachel Shelton,56,female,carpenterian@keller.com,(584)676-7314x00733,Mmbai,Marketing,83979,2022-09-05,10.0,Excellent,10067.0,Mmbai,14.0,NaN,keller.com,Other,corporate
7,13566,Colin Robinson,62,female,stanleyamy@clay.com,(028)169-3023,delhi,IT,56741,2022-03-20,7.0,3,10016.0,Mumbai,NaN,Remote,clay.com,Other,corporate
9,17069,Nichole Garcia,20,unknown,NaN,268.737.4111x44696,Bangalor,Operations,NaN,2017-11-21,20.0,NaN,10020.0,Bangalore,14.0,Hybrid,unknown.com,unknown.com,corporate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6070,15200,Kirk Quinn,57,unknown,vmunoz@arellano.org,(067)865-8832x748,mumbai,hr,35392,03/01/2022,12.0,Excellent,10075.0,Delhi,18.0,Hybrid,arellano.org,Other,corporate
6073,11222,Mark Beltran,58,female,thomasallen@peters-mitchell.net,468-601-5918x560,delhi,Operations,31650,2022-06-30,13.0,Good,10067.0,Bangalor,27.0,onsite,petersmitchell.net,Other,corporate
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid,schmidt.com,Other,corporate
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote,ortizwong.com,Other,corporate
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote,petersreyes.info,Other,corporate

In [97]:
df['Domain'] = df['Domain'].fillna(df['Domain'].mode)

In [98]:
df['Domain'].isna().sum()

0

<!-- Phone Number -->

# Phone Number

In [101]:
df['Phone_Number'].value_counts().head(20)

Phone_Number
12345                     19
+91 9876543210            18
987 654 3210              17
abcdef                    15
001-811-556-0824x189       1
(718)081-1609              1
804.618.3289x535           1
296.625.2615x09790         1
001-539-835-1776x218       1
001-162-892-7498           1
854.950.3274x569           1
273-326-1834               1
+1-594-113-8899x44750      1
(227)239-9727              1
8200171421                 1
163.521.2775               1
(560)429-3570x8175         1
760.459.5506               1
001-005-467-2173x57591     1
+1-073-878-5637            1
Name: count, dtype: int64

In [102]:
df['Cleaned_Phone'] = df['Phone_Number'].astype(str).str.replace(r'\D', '', regex = True)

In [103]:
def get_country_code(number):
    if pd.isnull(number):
        return np.nan
    if len(number) <= 10:
        return np.nan
    return number[:-10]

df['Country_Code'] = df['Cleaned_Phone'].apply(get_country_code)

In [104]:
df['Country_Code'].isnull().sum()

1996

In [105]:
def get_local_number(number):
    if pd.isnull(number) or len(number) < 10:
        return np.nan
    return number[-10:]

df['Local_Number'] = df['Cleaned_Phone'].apply(get_local_number)

In [106]:
df['Is_Valid_Number'] = df['Local_Number'].notnull()

In [273]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.60,2019-05-09,...,Chennai,18.0,Onsite,simpson.com,Other,corporate,8625557437566,862,5557437566,True
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215.00,2017-12-17,...,Hyderabad,29.0,onsite,hotmail.com,hotmail.com,personal,0010807155689268,001080,7155689268,True
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286.00,2018-02-08,...,Delhi,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413.00,2018-04-07,...,NaN,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,5050114112,True
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001.00,2024-10-19,...,Bangalore,16.0,onsite,abc.org,Other,corporate,0505726766,NaN,0505726766,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6074,17059,Amy Morgan,34,male,xhenderson@gmail.com,458-434-7078,mumbai,NaN,97914.00,2025-10-16,...,Chennai,17.0,Remote,gmail.com,gmail.com,personal,4584347078,NaN,4584347078,True
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166.00,2021-11-16,...,Hyderabad,29.0,Onsite,gmail.com,gmail.com,personal,001662677194618388,00166267,7194618388,True
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558.00,2021-03-08,...,Bangalor,27.0,Hybrid,yahoo.com,yahoo.com,personal,00385784894984,0038,5784894984,True
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682.00,2023-06-08,...,Hyderabad,27.0,remote,ortizwong.com,Other,corporate,00131137063220556,0013113,7063220556,True
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,...,Mmbai,1.0,Remote,petersreyes.info,Other,corporate,3265399841,NaN,3265399841,True

# City

In [271]:
df['City'].value_counts()

City
Hyderabad    639
Mumbai       637
Chennai      622
delhi        618
Delhi        601
Mmbai        600
Bangalor     597
mumbai       576
Bangalore    540
Name: count, dtype: int64

In [275]:
# Make all city names lowercase
df['City_cleaned'] = df['City'].astype(str).str.lower()

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\3432452450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City_cleaned'] = df['City'].astype(str).str.lower()

In [277]:
city_corrections = {
    'bangalor': 'bangalore',
    'mmbai': 'mumbai',
    'delhi': 'delhi',  
    'mumbai': 'mumbai', 
    'chennai': 'chennai',
    'hyderabad': 'hyderabad'
}

df['City'] = df['City_cleaned'].replace(city_corrections)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\3841791299.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] = df['City_cleaned'].replace(city_corrections)

In [279]:
df['City'].value_counts()

City
mumbai       1813
delhi        1219
bangalore    1137
hyderabad     639
chennai       622
nan           589
Name: count, dtype: int64

In [281]:
df['City_cleaned'] = df['City_cleaned'].replace('', np.nan)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\2581599169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City_cleaned'] = df['City_cleaned'].replace('', np.nan)

In [283]:
df['City'].isnull().sum()

0

# Department

In [286]:
df['Department'].unique()

array(['Financ', 'IT ', 'Marketing', nan, 'HR', 'Operations', 'hr',
       'Sales', 'IT', 'sales', 'Finance'], dtype=object)

In [288]:
df['Department'] = df['Department'].astype(str).str.strip().str.lower()

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\4157355684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Department'] = df['Department'].astype(str).str.strip().str.lower()

In [290]:
dept_corrections = {
    'financ': 'finance',
    'finance': 'finance',
    'hr': 'hr',
    'it': 'it',
    'marketing': 'marketing',
    'operations': 'operations',
    'sales': 'sales'
}

df['Department'] = df['Department'].replace(dept_corrections)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\1929087131.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Department'] = df['Department'].replace(dept_corrections)

In [294]:
df['Department'] = df['Department'].replace('nan', np.nan)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\2143549478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Department'] = df['Department'].replace('nan', np.nan)

In [296]:
df['Department'].isnull().sum()

531

In [298]:
df['Department'].value_counts()

Department
hr            1129
finance       1109
sales         1085
it            1070
operations     549
marketing      546
Name: count, dtype: int64

In [300]:
df['Department'] = df['Department'].fillna(df['Department'].mode()[0])

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\1123790513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Department'] = df['Department'].fillna(df['Department'].mode()[0])

In [302]:
df['Department'].isnull().sum()

0

# Salary

In [107]:
df['Salary'].value_counts()

Salary
92399        3
129159       3
69940        2
133063       2
140475       2
            ..
138418       1
136667       1
100497       1
109175       1
127574.42    1
Name: count, Length: 5880, dtype: int64

In [108]:
df['Salary'].isnull().sum()

54

In [109]:
salary_series = df['Salary']

In [110]:
salary_str = salary_series.astype(str).str.strip()

In [111]:
unique_salaries = salary_str.unique()

In [112]:
unique_salaries

array(['104695.6', '146215', '124286', ..., '148166', '39682',
       '127574.42'], dtype=object)

In [113]:
import numpy as np

def salary_format_type(s):
    s = str(s).strip()
    if s == 'nan':
        return 'Missing'
    elif any(c.isalpha() for c in s):
        return 'Contains letters (k, M, etc.)'
    elif any(c in '₹$,' for c in s):
        return 'Currency / comma'
    elif s.replace('.', '', 1).isdigit():
        return 'Numeric'
    else:
        return 'Other / invalid'

Salary_Format = salary_series.apply(salary_format_type)

Salary_Format.value_counts()

Salary
Numeric             5967
Missing               54
Currency / comma      53
Name: count, dtype: int64

In [114]:
currency_comma_mask = salary_str.str.contains(r'[₹$€,]', regex = True)

In [115]:
currency_comma_mask

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Name: Salary, Length: 6074, dtype: bool

In [116]:
unique_currency_comma = salary_str[currency_comma_mask].unique()

In [117]:
unique_currency_comma

array(['₹102348', '₹125315', '₹175543', '₹137382', '₹187279', '₹139612',
       '₹113686', '₹156506', '₹49253', '₹166869', '₹176030', '₹198546',
       '₹37878', '₹33159', '₹60766', '₹43517', '₹39918', '₹59994',
       '₹78153', '₹49741', '₹45280', '₹34340', '₹182322', '₹133002',
       '₹153803', '₹131721', '₹57893', '₹117997', '₹70227', '₹80991',
       '₹41307', '₹117318', '₹58272', '₹82455', '₹193203', '₹173992',
       '₹84693', '₹181899', '₹44298', '₹31609', '₹198427', '₹124475',
       '₹63535', '₹79553', '₹125560', '₹60472', '₹138030', '₹89483',
       '₹185699', '₹118298', '₹30686', '₹62460', '₹45846'], dtype=object)

In [118]:
print('Total unique currency: ', len(unique_currency_comma))

Total unique currency:  53

In [119]:
print(unique_currency_comma[:53])

['₹102348' '₹125315' '₹175543' '₹137382' '₹187279' '₹139612' '₹113686'
 '₹156506' '₹49253' '₹166869' '₹176030' '₹198546' '₹37878' '₹33159'
 '₹60766' '₹43517' '₹39918' '₹59994' '₹78153' '₹49741' '₹45280' '₹34340'
 '₹182322' '₹133002' '₹153803' '₹131721' '₹57893' '₹117997' '₹70227'
 '₹80991' '₹41307' '₹117318' '₹58272' '₹82455' '₹193203' '₹173992'
 '₹84693' '₹181899' '₹44298' '₹31609' '₹198427' '₹124475' '₹63535'
 '₹79553' '₹125560' '₹60472' '₹138030' '₹89483' '₹185699' '₹118298'
 '₹30686' '₹62460' '₹45846']

In [120]:
df['Salary'] = df['Salary'].astype(str).str.replace('₹', '', regex = False)

In [121]:
df['Salary'] = pd.to_numeric(df['Salary'], errors = 'coerce')

In [122]:
df['Salary'].head()

0    104695.6
1    146215.0
2    124286.0
3    111413.0
4     99001.0
Name: Salary, dtype: float64

In [123]:
print(df['Salary'].dtype)

float64

In [124]:
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

In [125]:
salary = df['Salary']

In [126]:
Q1 = salary.quantile(0.25)
Q3 = salary.quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = (salary < lower_bound) | (salary > upper_bound)

In [127]:
outliers

0       False
1       False
2       False
3       False
4       False
        ...
6075     True
6076    False
6077    False
6078    False
6079    False
Name: Salary, Length: 6074, dtype: bool

In [256]:
df[outliers].shape

(55, 23)

In [258]:
df= df[(salary >= lower_bound) & (salary <= upper_bound)]

In [260]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.60,2019-05-09,...,Chennai,18.0,Onsite,simpson.com,Other,corporate,8625557437566,862,5557437566,True
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215.00,2017-12-17,...,Hyderabad,29.0,onsite,hotmail.com,hotmail.com,personal,0010807155689268,001080,7155689268,True
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286.00,2018-02-08,...,Delhi,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413.00,2018-04-07,...,NaN,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,5050114112,True
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001.00,2024-10-19,...,Bangalore,16.0,onsite,abc.org,Other,corporate,0505726766,NaN,0505726766,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6074,17059,Amy Morgan,34,male,xhenderson@gmail.com,458-434-7078,mumbai,NaN,97914.00,2025-10-16,...,Chennai,17.0,Remote,gmail.com,gmail.com,personal,4584347078,NaN,4584347078,True
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166.00,2021-11-16,...,Hyderabad,29.0,Onsite,gmail.com,gmail.com,personal,001662677194618388,00166267,7194618388,True
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558.00,2021-03-08,...,Bangalor,27.0,Hybrid,yahoo.com,yahoo.com,personal,00385784894984,0038,5784894984,True
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682.00,2023-06-08,...,Hyderabad,27.0,remote,ortizwong.com,Other,corporate,00131137063220556,0013113,7063220556,True
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,...,Mmbai,1.0,Remote,petersreyes.info,Other,corporate,3265399841,NaN,3265399841,True

In [262]:
print("Missing Joining Dates:", df['Joining_Date'].isna().sum())

Missing Joining Dates: 109

In [264]:
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_43656\150208012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce')

In [266]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.60,2019-05-09,...,Chennai,18.0,Onsite,simpson.com,Other,corporate,8625557437566,862,5557437566,True
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215.00,2017-12-17,...,Hyderabad,29.0,onsite,hotmail.com,hotmail.com,personal,0010807155689268,001080,7155689268,True
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286.00,2018-02-08,...,Delhi,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413.00,2018-04-07,...,NaN,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,5050114112,True
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001.00,2024-10-19,...,Bangalore,16.0,onsite,abc.org,Other,corporate,0505726766,NaN,0505726766,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6074,17059,Amy Morgan,34,male,xhenderson@gmail.com,458-434-7078,mumbai,NaN,97914.00,2025-10-16,...,Chennai,17.0,Remote,gmail.com,gmail.com,personal,4584347078,NaN,4584347078,True
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166.00,2021-11-16,...,Hyderabad,29.0,Onsite,gmail.com,gmail.com,personal,001662677194618388,00166267,7194618388,True
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558.00,2021-03-08,...,Bangalor,27.0,Hybrid,yahoo.com,yahoo.com,personal,00385784894984,0038,5784894984,True
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682.00,2023-06-08,...,Hyderabad,27.0,remote,ortizwong.com,Other,corporate,00131137063220556,0013113,7063220556,True
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,...,Mmbai,1.0,Remote,petersreyes.info,Other,corporate,3265399841,NaN,3265399841,True

In [305]:
high_paid_it = df[(df['Department'] == 'it') & (df['Salary'] > 100000)]
high_paid_it.head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number,City_cleaned
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,bangalore,it,124286.0,2018-02-08,...,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True,bangalore
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,it,111413.0,2018-04-07,...,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,5050114112,True,delhi
18,18642,Morgan Wallace,43,unknown,evelez@yahoo.com,040.160.5574x994,mumbai,it,144604.0,2020-04-21,...,27.0,Hybrid,yahoo.com,yahoo.com,personal,0401605574994,040,1605574994,True,mmbai
34,18531,Cathy Romero,53,female,carol93@outlook.com,682.545.0724,nan,it,133575.0,2021-10-24,...,12.0,onsite,outlook.com,Other,corporate,6825450724,NaN,6825450724,True,nan
50,14933,Brittany Jackson,30,female,brenda40@edwards.com,551.542.8125,mumbai,it,123897.0,2023-09-09,...,26.0,remote,edwards.com,Other,corporate,5515428125,NaN,5515428125,True,mumbai

In [307]:
it_or_hr = df[(df['Department'] == 'it') | (df['Department'] == 'hr')]
it_or_hr.head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number,City_cleaned
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,bangalore,it,124286.0,2018-02-08,...,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True,bangalore
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,it,111413.0,2018-04-07,...,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,5050114112,True,delhi
6,17345,Antonio Anderson,41,unknown,thomas79@gmail.com,965.752.9562x446,delhi,hr,105264.0,2019-07-11,...,23.0,Onsite,gmail.com,gmail.com,personal,9657529562446,965,7529562446,True,delhi
7,13566,Colin Robinson,62,female,stanleyamy@clay.com,(028)169-3023,delhi,it,56741.0,2022-03-20,...,NaN,Remote,clay.com,Other,corporate,0281693023,NaN,0281693023,True,delhi
8,19203,Sarah Stevens,63,male,eespinoza@hotmail.com,+1-184-332-7338x04224,bangalore,hr,95380.0,2016-12-28,...,8.0,NaN,hotmail.com,hotmail.com,personal,1184332733804224,118433,2733804224,True,bangalor

In [309]:
gmail_employees = df[df['Email_Domain'].str.endswith('gmail.com')]
gmail_employees.head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number,City_cleaned
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,bangalore,it,124286.0,2018-02-08,...,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,1139018681,True,bangalore
6,17345,Antonio Anderson,41,unknown,thomas79@gmail.com,965.752.9562x446,delhi,hr,105264.0,2019-07-11,...,23.0,Onsite,gmail.com,gmail.com,personal,9657529562446,965,7529562446,True,delhi
14,15613,Molly Manning,44,unknown,tperry@gmail.com,001-411-146-9146x858,mumbai,hr,66739.0,2020-06-30,...,7.0,Remote,gmail.com,gmail.com,personal,0014111469146858,001411,1469146858,True,mumbai
25,16222,Monique Cook,55,male,apugh@gmail.com,234.635.4082x203,hyderabad,hr,41937.0,2016-12-27,...,26.0,Remote,gmail.com,gmail.com,personal,2346354082203,234,6354082203,True,hyderabad
30,10542,Brooke Fritz Md,45,unknown,hyoung@gmail.com,658-970-2119,bangalore,operations,126086.0,2017-03-31,...,-10.0,NaN,gmail.com,gmail.com,personal,6589702119,NaN,6589702119,True,bangalor

In [311]:
recent_joins = df[df['Joining_Date'] > '2020-01-01']
recent_joins[['ID','Joining_Date']].head()

       ID Joining_Date
4   12385   2024-10-19
5   19314   2022-09-05
7   13566   2022-03-20
10  15639   2020-11-09
11  19276   2025-06-05

In [313]:
joined_2021 = df[df['Joining_Date'].dt.year == 2021]
joined_2021['Joining_Date'].head()

23   2021-08-09
31   2021-01-04
34   2021-10-24
54   2021-07-08
76   2021-06-03
Name: Joining_Date, dtype: datetime64[ns]

In [315]:
top_salaries = df.nlargest(10, 'Salary')
top_salaries[['ID','Salary','Department']]

         ID    Salary  Department
1098  17691  198546.0          hr
4788  12082  198427.0     finance
3921  11043  193203.0          hr
366   15334  187279.0  operations
5613  17052  185699.0       sales
2866  11746  182322.0          it
4455  14367  181899.0          it
963   15104  176030.0  operations
141   11784  175543.0  operations
4221  16297  173992.0  operations

In [317]:
cities = ['mumbai', 'hyderabad']
city_filter = df[df['City'].isin(cities)]
city_filter.head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number,City_cleaned
5,19314,Rachel Shelton,56,female,carpenterian@keller.com,(584)676-7314x00733,mumbai,marketing,83979.0,2022-09-05,...,14.0,NaN,keller.com,Other,corporate,584676731400733,58467,6731400733,True,mmbai
10,15639,Lisa Raymond,51,male,vparks@rich.org,(771)110-8675x46697,hyderabad,hr,96877.0,2020-11-09,...,2.0,Remote,rich.org,Other,corporate,771110867546697,77111,0867546697,True,hyderabad
14,15613,Molly Manning,44,unknown,tperry@gmail.com,001-411-146-9146x858,mumbai,hr,66739.0,2020-06-30,...,7.0,Remote,gmail.com,gmail.com,personal,0014111469146858,001411,1469146858,True,mumbai
16,10857,Amber Richard,26,female,hwallace@yahoo.com,491-705-4626,mumbai,hr,68831.0,2019-04-28,...,8.0,onsite,yahoo.com,yahoo.com,personal,4917054626,NaN,4917054626,True,mmbai
17,15925,Kimberly Young,39,male,grayalexandra@martinez.com,6401455005,mumbai,hr,83959.0,2016-10-17,...,7.0,Remote,martinez.com,Other,corporate,6401455005,NaN,6401455005,True,mumbai

In [319]:
q1 = df[
    ((df['Department'].isin(['it', 'hr'])) & 
     (df['Salary'] > 100000) &
     (df['Age'].between(0,40)))
]
q1[['ID','Department','Salary','Age']]

         ID Department     Salary  Age
3     19229         it  111413.00   39
27    14616         hr  116976.00   26
45    14998         hr  117680.00   37
49    17008         hr  106614.00   39
50    14933         it  123897.00   30
...     ...        ...        ...  ...
6028  17324         it  148432.00   23
6044  13764         it  122470.00   18
6047  16548         hr  139157.00   21
6069  14237         hr  110019.00   37
6079  14157         hr  127574.42   18

[541 rows x 4 columns]